<app-table-layout
  title="Provas"
  titleButton="Prova"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="true"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"
  ></app-table>

  <!-- Formulário -->
  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <label class="text-sm text-gray-600"> 
        Curso
        <app-dropdown
          [items]="dropdownItemsCurso"
          [selectedValue]="selectedCurso"
          [placeholder]="selectedCursoLabel"
          (selected)="selectedCurso = $event">
        </app-dropdown>
      </label>

      <label class="text-sm text-gray-600">
        Nota Mínima:
        <input
          formControlName="nota_minima"
          type="number"
          step="0.1"
          class="w-full border px-2 py-1 rounded mt-1"
        />
        <small class="text-red-500" *ngIf="form.get('nota_minima')?.hasError('required') && (form.get('nota_minima')?.touched || form.get('nota_minima')?.dirty)">
          Campo obrigatório.
        </small>
        <small class="text-red-500" *ngIf="form.get('nota_minima')?.hasError('min') && (form.get('nota_minima')?.touched || form.get('nota_minima')?.dirty)">
          Valor mínimo é 0.
        </small>
      </label>
      
      <label class="text-sm text-gray-600">
        Total de Perguntas:
        <input
          formControlName="total_perguntas"
          type="number"
          class="w-full border px-2 py-1 rounded mt-1"
        />
        <small class="text-red-500" *ngIf="form.get('total_perguntas')?.hasError('required') && (form.get('total_perguntas')?.touched || form.get('total_perguntas')?.dirty)">
          Campo obrigatório.
        </small>
        <small class="text-red-500" *ngIf="form.get('total_perguntas')?.hasError('min') && (form.get('total_perguntas')?.touched || form.get('total_perguntas')?.dirty)">
          Valor mínimo é 1.
        </small>
      </label>
      

      <button
        type="submit"
        class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm"
      >
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
