<app-table-layout
  [title]="titleCurse"
  titleButton="Aulas"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>

<app-submenu [items]="routerSubmenu" submenu></app-submenu>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="true"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"
  ></app-table>

  <!-- Formulário (vai cair no <ng-content select="[formulario]"> ) -->
  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        <label class="text-sm text-gray-600">
          titulo:
          <input 
            formControlName="titulo"
            type="text"
            class="w-full border px-2 py-1 rounded mt-1"
          />
        </label>

        <label class="text-sm text-gray-600">
          url_video:
          <input 
            formControlName="url_video"
            type="text"
            class="w-full border px-2 py-1 rounded mt-1"
          />
        </label>

        <label class="text-sm text-gray-600">
          duracao:
          <input 
            formControlName="duracao"
            type="number"
            class="w-full border px-2 py-1 rounded mt-1"
          />
        </label>


      <button type="submit" class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm">
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
