<app-table-layout
  title="Controle de Funções"
  titleButton="Funções"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>

  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="true"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"
  ></app-table>

  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <label class="text-sm text-gray-600">
        Nome:
        <input 
          formControlName="nome"
          type="text"
          class="w-full border px-2 py-1 rounded mt-1"
        />
      </label>

      <label class="text-sm text-gray-600">
        Descrição:
        <textarea 
          formControlName="descricao"
          rows="4"
          class="w-full border px-2 py-1 rounded mt-1"
        ></textarea>
      </label>

      <app-dropdown-multple
          [items]="dropdownCurso"
          labelKey="label"
          valueKey="value"
          [multiple]="true"
          formControlName="cursos"/>


      <button type="submit" class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm">
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
