<app-table-layout
  title="Usuários"
  titleButton="Liberação"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"

  [activeFormulario]="activeFormulario"
>

<app-submenu [items]="routerSubmenu" submenu>
  
</app-submenu>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="false"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"


  ></app-table>

  <!-- Formulário (vai cair no <ng-content select="[formulario]"> ) -->
  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      

      <label class="text-sm text-gray-600">
       Usuario
       <app-dropdown
         [items]="dropdownsUsuario"
         [selectedValue]="selectedUsuario"
         [placeholder]="'Selecione o tipo de usuário'"
         (selected)="selectedUsuario = $event">
       </app-dropdown>
     </label>
     <label class="text-sm text-gray-600">
       Curso
       <app-dropdown
         [items]="dropdownCurso"
         [selectedValue]="selectedCurso"
         [placeholder]="'Selecione a Fazenda'"
         (selected)="selectedCurso = $event">
       </app-dropdown>
     </label>

      <button type="submit" class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm">
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
