<app-table-layout
  title="Cursos"
  titleButton="Curso"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
 
  (pageSizeChange)="onPageSizeChange($event)"
  (ActiveButtonNovo)="onNovo()"
   [activeFormulario]="activeFormulario"
>
<app-submenu [items]="routerSubmenu" submenu>
  
</app-submenu>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="true"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"
  ></app-table>

  <!-- Formulário (vai cair no <ng-content select="[formulario]"> ) -->
  <div formulario>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

  <!-- Título -->
  <label class="text-sm text-gray-600">
    Título*:
    <input 
      formControlName="titulo"
      type="text"
      class="w-full border px-2 py-1 rounded mt-1
        focus:outline-none
        "
      [class.border-red-500]="form.get('titulo')?.invalid && form.get('titulo')?.touched"
    />
    <span
      *ngIf="form.get('titulo')?.invalid && form.get('titulo')?.touched"
      class="text-xs text-red-500 mt-1 block"
    >
      O título é obrigatório.
    </span>
  </label>

  <!-- Descrição -->
  <label class="text-sm text-gray-600">
    Descrição*:
    <textarea 
      formControlName="descricao"
      rows="4"
      class="w-full border px-2 py-1 rounded mt-1
        focus:outline-none
        "
      [class.border-red-500]="form.get('descricao')?.invalid && form.get('descricao')?.touched"
    ></textarea>
    <span
      *ngIf="form.get('descricao')?.invalid && form.get('descricao')?.touched"
      class="text-xs text-red-500 mt-1 block"
    >
      A descrição é obrigatória.
    </span>
  </label>

  
  <label class="text-sm text-gray-600">
  Url da Imagem:
  <input 
    formControlName="url_img"
    type="text"
    class="w-full border px-2 py-1 rounded mt-1
      focus:outline-none"
    [class.border-red-500]="form.get('url_img')?.invalid && form.get('url_img')?.touched"
  />
  <span *ngIf="form.get('url_img')?.hasError('required') && form.get('url_img')?.touched"
        class="text-xs text-red-500 mt-1 block">
    A URL da imagem é obrigatória.
  </span>
  <span *ngIf="form.get('url_img')?.hasError('maxlength') && form.get('url_img')?.touched"
        class="text-xs text-red-500 mt-1 block">
    A URL pode ter no máximo 150 caracteres.
  </span>
</label>


  <button
    type="submit"
    class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm"
    [disabled]="form.invalid"
  >
    Salvar
  </button>
</form>

  </div>
</app-table-layout>
