<app-table-layout
  title="Cursos"
  titleButton="Curso"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="true"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"
  ></app-table>

  <!-- Formulário (vai cair no <ng-content select="[formulario]"> ) -->
  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <label class="text-sm text-gray-600">
        Título:
        <input 
          formControlName="titulo"
          type="text"
          class="w-full border px-2 py-1 rounded mt-1"
        />
      </label>

      <label class="text-sm text-gray-600">
        Descrição:
        <textarea 
          formControlName="descricao"
          rows="4"
          class="w-full border px-2 py-1 rounded mt-1"
        ></textarea>
      </label>

      <button type="submit" class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm">
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
