<div class="flex flex-col md:flex-row min-h-screen bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white">
  <!-- Sidebar (Mobile: oculto, Desktop: fixo) -->
  <aside class="hidden md:flex w-20 bg-primary dark:bg-gray-800 border-r border-gray-200 dark:border-gray-700 flex-col items-center py-6 space-y-6">
    <!-- Ícones de menu -->
    <app-icon class="cursor-pointer hover:opacity-75" (click)="setMenuTexto('Inicio')" name="home" variant="material-icons" color="white" [size]="24"></app-icon>
    <app-icon class="cursor-pointer hover:opacity-75" (click)="setMenuTexto('Controle de Cursos')" name="menu_book" variant="material-icons" color="white" [size]="24"></app-icon>
    <app-icon class="cursor-pointer hover:opacity-75" (click)="setMenuTexto('Controle de Provas')" name="format_list_numbered" variant="material-icons" color="white" [size]="24"></app-icon>
    <app-icon class="cursor-pointer hover:opacity-75" (click)="setMenuTexto('Controle de Usuarios')"name="manage_accounts" variant="material-icons" color="white" [size]="24"></app-icon>
    <app-icon class="cursor-pointer hover:opacity-75" (click)="setMenuTexto('Controle de Fazendas')"name="agriculture" variant="material-icons" color="white" [size]="24"></app-icon>
    <app-icon class="cursor-pointer hover:opacity-75" (click)="setMenuTexto('Controle de Certificados')"name="description" variant="material-icons" color="white" [size]="24"></app-icon>
    <app-icon class="cursor-pointer hover:opacity-75" (click)="setMenuTexto('Controle de Funções')"name="business_center" variant="material-icons" color="white" [size]="24"></app-icon>

  </aside>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col">
    <!-- Header -->
    <header class="bg-primary dark:bg-gray-800 shadow px-4 py-3 flex items-center justify-between flex-wrap gap-4">
      <!-- Campo de busca (oculta em telas muito pequenas) -->
       @if(getActiveSearch()){
          <input
          type="text"
          placeholder="Search course or mentors"
          class="w-full sm:w-auto sm:flex-1 px-4 py-2 rounded-lg border border-gray-300 dark:border-gray-600 bg-gray-100 dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
       } @else {
            <div class="w-96 flex items-center  gap-2">
              <h1 class="text-white font-semibold"> {{menuSelecionado()}} </h1>
            </div>  
       }
     

      <!-- Ações -->
      <div class="flex items-center gap-4">
        <button class="relative">
          <span class="absolute -top-1 -right-1 bg-red-500 text-xs rounded-full px-1 text-white">5</span>
          <app-icon name="notifications" color="white" [size]="24"></app-icon>
        </button>
        <app-profile-menu />
      </div>
    </header>
    
  
    <!-- Content -->
    <main class="flex-1 p-4 sm:p-6 space-y-6">
      
      <router-outlet>

      </router-outlet>
      <div class="fixed top-4 left-0 right-0 z-50 flex justify-center px-4">
        <app-alert />
      </div>
    </main>
  </div>
</div>
