<app-table-layout
  title="Certificados"
  titleButton="Certificado"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="true"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"
  ></app-table>

  <!-- Formulário -->
  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <label class="text-sm text-gray-600">
        ID do Usuário:
        <input 
          formControlName="fk_id_usuario"
          type="number" 
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600">
        ID do Curso:
        <input 
          formControlName="fk_id_curso"
          type="number" 
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600">
        Data de Emissão:
        <input 
          formControlName="data_emissao"
          type="date" 
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600">
        URL do Certificado:
        <input 
          formControlName="url_certificado"
          type="text" 
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600">
        Status:
        <select 
          formControlName="status"
          class="w-full border px-2 py-1 rounded mt-1"
        >
          <option value="INATIVO">Inativo</option>
          <option value="SOLICITADO">Solicitado</option>
          <option value="GERADO">Gerado</option>
          <option value="APROVADO">Aprovado</option>
          <option value="RECEBIDO">Recebido</option>
        </select>
      </label>

      <button type="submit" class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm">
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
