<app-table-layout
  title="Certificados"
  titleButton="Certificado"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [ariaPlaceholder]=""
    [selectable]="true"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"
  ></app-table>

  <!-- Formulário -->
  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <label class="text-sm text-gray-600"> 
        Usuário
        <app-dropdown
          [items]="dropdownItemsUsuarios"
          [selectedValue]="selectedUsuario"
          [placeholder]="selectedUsuarioLabel"
          (selected)="selectedUsuario = $event">
        </app-dropdown>
      </label>

      <label class="text-sm text-gray-600"> 
        Curso
        <app-dropdown
          [items]="dropdownItemsCertificado"
          [selectedValue]="selectedCetificado"
          [placeholder]="selectedCertificadoLabel"
          (selected)="selectedCetificado = $event">
        </app-dropdown>
      </label>

      <label class="text-sm text-gray-600">
        URL do Certificado:
        <input 
          formControlName="url_certificado"
          type="text" 
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600"> 
        Status:
        <app-dropdown
          [items]="statusOptions"
          [selectedValue]="selectedOptions"
          [placeholder]="selectedOptions"
          (selected)="selectedOptions = $event">
        </app-dropdown>
      </label>



      <button type="submit" class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm">
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
