<app-table-layout
  title="Usuários"
  titleButton="Usuário"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  [createdFormbaseActive]="false"
  [activeFormulario]="activeFormulario"
>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="false"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"


  ></app-table>

  <!-- Formulário (vai cair no <ng-content select="[formulario]"> ) -->
  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <label class="text-sm text-gray-600">
        Nome:
        <input
          formControlName="nome"
          type="text"
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600">
        Sobre Nome:
        <input
          formControlName="sobre_nome"
          type="text"
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600">
        CPF:
        <input
          formControlName="cpf"
          type="text"
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600">
        Email:
        <input
          formControlName="email"
          type="email"
          class="w-full border px-2 py-1 rounded mt-1" />
      </label>

      <label class="text-sm text-gray-600">
       Função
       <app-dropdown
         [items]="dropdownItemsFuncao"
         [selectedValue]="selectedFuncao"
         [placeholder]="'Selecione o tipo de usuário'"
         (selected)="selectedFuncao = $event">
       </app-dropdown>
     </label>
     <label class="text-sm text-gray-600">
       Fazenda
       <app-dropdown
         [items]="dropdownItems"
         [selectedValue]="selectedTipoUsuario"
         [placeholder]="'Selecione a Fazenda'"
         (selected)="selectedTipoUsuario = $event">
       </app-dropdown>
     </label>
     <label class="text-sm text-gray-600">
       Estado
       <app-dropdown
         [items]="dropdownUF"
         [selectedValue]="selectedUF"
         [placeholder]="'Selecione o Estado'"
         (selected)="listMunicipio($event, false)">
       </app-dropdown>
     </label>


      <label class="text-sm text-gray-600">
        Município
        <app-dropdown
          [items]="dropdownMunicipios"
          [selectedValue]="selectedMunicipios"
          [placeholder]="'Selecione o Município'"
          (selected)="listDistrito($event)">
        </app-dropdown>
      </label>

      <label class="text-sm text-gray-600">
        Distrito
        <app-dropdown
          [items]="dropdownDistrito"
          [selectedValue]="selectedDistrito"
          [placeholder]="'Selecione o Distrito'"
          (selected)="selectedDistrito = $event">
        </app-dropdown>
      </label>


      <label class="text-sm text-gray-600">
        Complemento:
        <textarea
          formControlName="complemento"
          rows="4"
          class="w-full border px-2 py-1 rounded mt-1">
        </textarea>
      </label>

      <button type="submit" class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm">
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
