<div class="flex w-full h-full gap-2">
  <!-- Tabela com paginação -->
  <div
    class="flex flex-col h-full bg-white shadow rounded-xl p-4"
    [ngClass]="{ 'w-full': !activeFormulario(), 'w-3/4': activeFormulario() }"
  >
    <!-- Header -->
    <div class="flex flex-wrap md:flex-nowrap items-start md:items-center justify-between gap-4 mb-4">
      <h2 class="text-xl font-semibold text-primary">{{ title }}</h2>

      <div class="flex flex-col sm:flex-row sm:items-center gap-2 w-full md:w-auto">
        <div class="flex items-center gap-1">
          <span class="text-sm text-gray-600">Mostrar</span>
          <select
          class="border rounded px-2 py-1 text-sm"
          [value]="pageSize"
          (change)="onItemsPerPageChange($event)"
        >
          <option *ngFor="let size of itemsPerPageOptions" [value]="size">{{ size }}</option>
        </select>
        
        </div>

        <button *ngIf="!activeFormulario()" (click)="setActiveFormulrio(true)"
          class="text-white hover:opacity-90 bg-primary px-4 py-2 rounded text-sm font-medium w-full sm:w-auto">
          + Novo {{ titleButton }}
        </button>
      </div>
    </div>

    <!-- Conteúdo da tabela -->
    <div class="flex-grow overflow-auto">
      <ng-content></ng-content>
    </div>

    <!-- Paginação -->
    <div class="flex flex-wrap justify-between items-center mt-4 px-2 gap-2 text-sm">
      <button class="text-gray-500 hover:underline order-1 sm:order-none"
              (click)="previousPage()" [disabled]="currentPage === 1">
        &lt; Voltar
      </button>

      <div class="flex flex-wrap justify-center gap-1 order-3 sm:order-none w-full sm:w-auto">
        <ng-container *ngFor="let page of pages">
          <button class="px-3 py-1 rounded"
                  [class.bg-primary]="isActive(page)"
                  [class.text-white]="isActive(page)"
                  [class.hover\\:bg-gray-100]="!isActive(page)"
                  (click)="goToPage(page)">
            {{ page < 10 ? '0' + page : page }}
          </button>
        </ng-container>
      </div>

      <button class="text-gray-500 hover:underline order-2 sm:order-none"
              (click)="nextPage()" [disabled]="currentPage === pages.length">
        Próximo &gt;
      </button>
    </div>
  </div>

  <!-- Formulário lateral -->
  <div *ngIf="activeFormulario()" class="w-full md:w-1/4 border-l border-gray-200 p-4 bg-white shadow rounded-xl animate-slide-in">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold text-gray-700">Novo {{ titleButton }}</h3>
      <button (click)="setActiveFormulrio(false)" class="text-sm text-red-500 hover:underline">Fechar ✖</button>
    </div>
    <ng-content select="[formulario]"></ng-content>
  </div>
</div>
