<app-table-layout
  title="Fazendas"
  titleButton="Fazenda"
  [total]="total()"
  [pageSize]="take()"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
>
  <!-- Tabela -->
  <app-table
    [columns]="columns"
    [data]="items()"
    [selectable]="true"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (rowSelected)="onRowSelect($event)"
  ></app-table>

  <!-- Formulário -->
  <div formulario>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <label class="text-sm text-gray-600">
        Nome:
        <input
          formControlName="nome"
          type="text"
          class="w-full border px-2 py-1 rounded mt-1"
        />
      </label>

      <label class="text-sm text-gray-600">
        Proprietário:
        <input
          formControlName="proprietario"
          type="text"
          class="w-full border px-2 py-1 rounded mt-1"
        />
      </label>

      <label class="text-sm text-gray-600">
        Descrição:
        <textarea
          formControlName="descricao"
          rows="3"
          class="w-full border px-2 py-1 rounded mt-1"
        ></textarea>
      </label>


  <label class="text-sm font-medium">Estado*
  <app-dropdown
    [items]="estados"
    labelKey="nome"
    valueKey="id_estado"
    placeholder="Selecione o estado"
    [selectedValue]="form.get('estado')?.value"
    (selected)="onEstadoSelected($event)"
  ></app-dropdown></label>

      <label class="text-sm font-medium">Município*
<app-dropdown
  [items]="municipios"
  labelKey="nome"
  valueKey="id_municipio"  
  placeholder="Selecione o município"
  [selectedValue]="form.get('municipio_id')?.value"
  (selected)="onMunicipioSelected($event)"
></app-dropdown></label>


  <label class="text-sm font-medium">Distrito
 <app-dropdown
  [items]="distritos"
  labelKey="nome"
  valueKey="id_distrito"  
  placeholder="Selecione o distrito"
  [selectedValue]="form.get('distrito_id')?.value"
  (selected)="onDistritoSelected($event)"
></app-dropdown></label>

      <label class="text-sm text-gray-600">
        Complemento:
        <input
          formControlName="complemento"
          type="text"
          class="w-full border px-2 py-1 rounded mt-1"
        />
      </label>

      <button
        type="submit"
        class="bg-primary text-white px-4 py-2 rounded hover:opacity-90 text-sm"
      >
        Salvar
      </button>
    </form>
  </div>
</app-table-layout>
